body {
  margin: 0;
  font-family: Elza;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 32, 32);
}

a {font-family: inherit; color: inherit; font-size: inherit; text-decoration: none;}
.home-wrapper {
  width: 100%; min-height: 100svh; position: relative;;
}
.image-wrapper {
  width: 100%; height: 100%;
  position: absolute; top: 0%; left: 0%; opacity: 0;
  background-image: url("bg.webp"); background-size: cover; background-position: center center;
}
.full-content {width: 100%; height: 100%;
padding: 32px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center;
align-items: center; color: white; gap: 32px;}

.time {font-size: 6em; font-weight: 500;}
.greeting {font-size: 2em; margin-top: -0.25em;}

.input-row {
  display: flex; flex-direction: row; justify-content: center; align-items: center;
  max-width: 512px; height: 48px; border-radius: 32px; background-color: rgb(25, 25, 25);
  overflow: hidden; font-size: 0.9em; border: 1px solid rgb(85, 85, 85); width: 100%;
}

input {outline: none; appearance: none; height: 100%; width: 100%; margin: 0px; outline: none; font-size: inherit;
box-sizing: border-box; font-family: inherit; padding: 8px 16px; border: none; background-color: transparent;
color: white;}

.submit {height: 100%; background-color: rgb(68, 68, 68); color: rgb(255, 255, 255); aspect-ratio: 1/1; display: flex; flex-direction: row;
justify-content: center; align-items: center; padding: 0px 8px; font-weight: 400; cursor: pointer; font-size: 2em; transition: background-color .1s ease-out;}

.holder { display: flex; flex-direction: column; width: 100%; flex-wrap: wrap; position: relative;}

.card { box-sizing: border-box; color: white;
display: flex; flex-direction: row; font-size: 4em; border-bottom: 1px solid rgba(255, 255, 255, 0.25);
padding: 24px 0px; transition: opacity .2s ease-in-out;}

.holder:hover .card:not(:hover) {opacity: 0.25;}

.input-row {flex-shrink: 0;}

.submit:hover {background-color: rgb(0, 140, 255);}

select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  color: white; font-family: inherit; font-size: inherit;
}

select option {color: black;}

.fs-holder {
  width: 100%;
  padding: 80px 32px;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100svh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute; top: 0px;
}

.project {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-title {font-size: 7em; font-weight: 500;}

.project-col {display: flex; flex-direction: column; justify-content: flex-start; color: rgb(89, 89, 89);}
.col-title {text-transform: uppercase; font-weight: 600; border-bottom: 2px solid rgb(89, 89, 89); padding: 12px 0px; font-size: 0.85em; width: 200px;}
.col-value {font-size: 2em; padding: 12px 0px; color: white;}